<header
  class="bg-cuareim-black text-cuareim-white fixed top-0 w-full shadow-md z-50"
>
  <div class="container mx-auto flex justify-between items-center p-4">
    <!-- Logo -->
    <h1 class="text-2xl font-bold text-cuareim-gold">Cuareim 1080</h1>

    <!-- Menú de Navegación -->
    <nav class="hidden md:flex space-x-6">
      <a href="#conoce" class="hover:text-cuareim-gold transition">{{
        "MENU.ABOUT" | translate
      }}</a>
      <a href="#merch" class="hover:text-cuareim-gold transition">{{
        "MENU.MERCH" | translate
      }}</a>
      <a href="#idioma" class="hover:text-cuareim-gold transition">{{
        "MENU.LANGUAGE" | translate
      }}</a>
    </nav>

    <!-- Botón de Idioma -->
    <div class="flex space-x-2">
      <button
        (click)="changeLanguage('es')"
        class="px-2 py-1 rounded text-white hover:bg-cuareim-red transition"
      >
        🇪🇸
      </button>
      <button
        (click)="changeLanguage('en')"
        class="px-2 py-1 rounded text-white hover:bg-cuareim-red transition"
      >
        🇬🇧
      </button>
    </div>

    <!-- Botón de menú móvil -->
    <button
      class="md:hidden text-cuareim-white text-2xl"
      (click)="toggleMenu()"
    >
      ☰
    </button>
  </div>

  <!-- Menú desplegable en móviles -->
  <nav *ngIf="isMenuOpen" class="bg-cuareim-black text-center py-4 md:hidden">
    <a href="#conoce" class="block py-2 hover:text-cuareim-gold transition">{{
      "MENU.ABOUT" | translate
    }}</a>
    <a href="#merch" class="block py-2 hover:text-cuareim-gold transition">{{
      "MENU.MERCH" | translate
    }}</a>
    <a href="#idioma" class="block py-2 hover:text-cuareim-gold transition">{{
      "MENU.LANGUAGE" | translate
    }}</a>
  </nav>
</header>
