@import "../../../styles/colors";

.navbar {
  background-color: $color-negro-standard;
  width: 100%;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;

  .button,
  .logo {
    color: $color-dorado-vibrante;
    font-weight: 700;
    font-size: 20px;
  }
}
